.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*/se2/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.class
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

