<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div itemprop="description" class="view-content">
    <p align="center" style="text-align: center;">&nbsp;</p>
    <div align="center" style="margin: 0px auto; text-align: center; white-space: pre-line;">
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FDoS9NNG.gif" target="_blank" class="view_image">
            <img itemprop="image" content="http://i.imgur.com/DoS9NNG.gif" src="http://i.imgur.com/DoS9NNG.gif" alt="" class="img-tag "
                title="">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FAXTLpZs.gif" target="_blank" class="view_image">
            <img src="http://i.imgur.com/AXTLpZs.gif" alt="로그인00" class="img-tag " title="">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FDoS9NNG.gif" target="_blank" class="view_image">
            <img itemprop="image" content="http://i.imgur.com/DoS9NNG.gif" src="http://i.imgur.com/DoS9NNG.gif" alt="" class="img-tag ">
        </a>
        <a href="tel:010-6527-9989" target="_blank"></a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FMUGIkQl.gif" target="_blank" class="view_image">
            <img src="http://i.imgur.com/MUGIkQl.gif" alt="전화" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2F7mQjoC1.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/7mQjoC1.jpg" alt="로그인01" class="img-tag ">
        </a>
        <a href="tel:010-6527-9989" target="_blank"></a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FMUGIkQl.gif" target="_blank" class="view_image">
            <img src="http://i.imgur.com/MUGIkQl.gif" alt="전화" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FrYxbY0A.gif" target="_blank" class="view_image">
            <img src="http://i.imgur.com/rYxbY0A.gif" alt="" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2F7NKFKaW.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/7NKFKaW.jpg" alt="가령" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FyjqWNKk.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/yjqWNKk.jpg" alt="혜교" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FQMwQRzm.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/QMwQRzm.jpg" alt="세경" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2Fy1d5rAv.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/y1d5rAv.jpg" alt="아름" class="img-tag ">
        </a>
        <a href="tel:010-6527-9989" target="_blank"></a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FMUGIkQl.gif" target="_blank" class="view_image">
            <img src="http://i.imgur.com/MUGIkQl.gif" alt="전화" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FPRkESjp.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/PRkESjp.jpg" alt="청아" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2F0DMJqo2.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/0DMJqo2.jpg" alt="도희" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FWO8BDkL.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/WO8BDkL.jpg" alt="혜지" class="img-tag ">
        </a>
        <a href="tel:010-6527-9989" target="_blank"></a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FMUGIkQl.gif" target="_blank" class="view_image">
            <img src="http://i.imgur.com/MUGIkQl.gif" alt="전화" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FF6Dkzxc.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/F6Dkzxc.jpg" alt="혜정" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FZrduk3X.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/Zrduk3X.jpg" alt="하나" class="img-tag ">
        </a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FKRWHwTz.jpg" target="_blank" class="view_image">
            <img src="http://i.imgur.com/KRWHwTz.jpg" alt="란이" class="img-tag ">
        </a>
        <a href="tel:010-6527-9989" target="_blank"></a>
        <a href="http://bk0011.com/bbs/view_img.php?img=http%3A%2F%2Fi.imgur.com%2FMUGIkQl.gif" target="_blank" class="view_image">
            <img src="http://i.imgur.com/MUGIkQl.gif" alt="전화" class="img-tag ">
        </a>
    </div>
    <div align="center" style="margin: 0px auto; text-align: center; white-space: pre-line;">&nbsp;</div>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line; font-stretch: normal;">
♥ 은지 ♥
                    


        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 27</span>
                <span style="font-size: 10pt;">세, 165-50-B &nbsp;상냥하고 부드러운 이미지에 감춰진 섹시함까지, </span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line; font-stretch: normal;">
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 황홀한 그녀만의 관리를 받아보세요</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line; font-stretch: normal;">
        <font face="Dotum">
            <span style="font-size: 10pt;">
                <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <span style="font-size: 10pt;">
                                <span style="background-color: rgb(0, 255, 0);">
                                    <font size="2">
                                        <strong>♥ 혜교&nbsp;</strong>
                                    </font>
                                </span>
                                <strong style="font-size: 10pt;">
                                    <span style="background-color: rgb(0, 255, 0);">♥</span>
                                </strong>
                                <font size="2">
                                    <strong>&nbsp;&nbsp;</strong>
                                </font>
                            </span>
                        </span>
                    </span>
                </span>
                <strong style="line-height: 23px; font-size: 9pt;">
                    <font face="Dotum">
                        <span style="font-size: 10pt;">컨셉: HD, 27</span>
                        <span style="font-size: 10pt;">세, 160-47-B &nbsp;민간인필이고 아담하고 슬림하네요.</span>
                    </font>
                </strong>
                <strong>?</strong>
            </span>
        </font>
    </p>
    <div align="center" style="margin: 0px auto; text-align: center; white-space: pre-line;">
        <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 예린&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="line-height: 23px; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 26</span>
                <span style="font-size: 10pt;">세, 162-47-B &nbsp;아담하고 요염함. 대화 마인드 좋음.</span>
            </font>
        </strong>
    </div>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="color: rgb(63, 63, 63); line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 가령&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 26</span>
                <span style="font-size: 10pt;">세, 167-48-C &nbsp;연예인급 비주얼, 몸매를 가진 여우.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="color: rgb(63, 63, 63); line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 혜교&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 27</span>
                <span style="font-size: 10pt;">세, 160-47-B &nbsp;민간인필이고 아담하고 슬림하네요.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="color: rgb(63, 63, 63); line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 채영&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 26</span>
                <span style="font-size: 10pt;">세, 170-55-C &nbsp;시선을 강탈하는 가슴, 괜찮은 비주얼.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 민정&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="line-height: 23px; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 24</span>
                <span style="font-size: 10pt;">세, 162-44-B &nbsp;여성스러운 분위기의 예쁜 민정씨가 영입되었습니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="line-height: 23px; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;수줍어하는 표정이 남심을 자극하네요~수위높은 회원님들은
                    자제 부탁 드립니다</span>
            </font>
        </strong>
        <strong style="line-height: 23px; font-size: 9pt;">
            <font face="Dotum">
                <span style="font-size: 10pt;">.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 혜인&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 24</span>
                <span style="font-size: 10pt;">세, 164-49-C &nbsp;순수한 민간인필의 외모에 비주얼 준수하고 여동생 같은</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;스타일 입니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 여름&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 26</span>
                <span style="font-size: 10pt;">세, 165-50-B &nbsp;호리호리한 체형에 약간 시크한 이미지 입니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;자그마한 얼굴에서 풍겨나오는 뭔가가 있습니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 세경&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 25</span>
                <span style="font-size: 10pt;">세, 163-50-B &nbsp;비주얼 괜찮고 경상도 사투리 및 애교가 남심을 자극하네요.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;깔끔, 도도한 이미지 입니다. 수위높은 회원님들은 자제
                    부탁 드립니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 자연&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 27</span>
                <span style="font-size: 10pt;">세, 160-48-C &nbsp;깔끔한 외모에 수준급의 스킬을 보유한 자연씨 입니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;철썩 달라붙는 끈끈한 마인드, 감전 주의 바랍니다~</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 아름&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 26</span>
                <span style="font-size: 10pt;">세, 162-49-C &nbsp;새로운 유망주 입니다. 비주얼, 마인드 좋고 아담합니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;예약 마감이 예상되오니 예약을 서둘러 주세요.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 은별&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 23</span>
                <span style="font-size: 10pt;">세, 163-48-B &nbsp;예쁘고, 상냥한데다가 몸매도 좋으시네요.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="line-height: 23px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;예약 마감이 예상되오니 예약을 서둘러 주세요.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="color: rgb(63, 63, 63); line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 연주&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 28</span>
                <span style="font-size: 10pt;">세, 161-53-B &nbsp;적지않은 나이에 과감히 도전했네요. </span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                    업계 엔에프이고,&nbsp;</span>
            </font>
        </strong>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">대화도 잘 이끌어 나가십니다. 숨은 매력을 찾아보세요~~</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="color: rgb(63, 63, 63); line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 유진&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: HD, 25</span>
                <span style="font-size: 10pt;">세, 160-47-B &nbsp;민간인 필의 괜찮은 외모에 항상 웃음을 잃지 않는 새내기 입니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="color: rgb(63, 63, 63); line-height: 23px; font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 유리&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: JHD, 23</span>
                <span style="font-size: 10pt;">세, 164-50-C &nbsp;예쁘고 몸매좋음</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <span style="font-family: dotum; font-size: 10pt;">
            <span style="font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="background-color: rgb(0, 255, 0);">
                            <font size="2">
                                <strong>♥ 재경&nbsp;</strong>
                            </font>
                        </span>
                        <strong style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">♥</span>
                        </strong>
                        <font size="2">
                            <strong>&nbsp;&nbsp;</strong>
                        </font>
                    </span>
                </span>
            </span>
        </span>
        <strong>
            <font face="Dotum">
                <span style="font-size: 10pt;">컨셉: JHD, 25</span>
                <span style="font-size: 10pt;">세166-51-A&nbsp;&nbsp;화창한 봄날, 짝사랑을 먼발치에서 보는 "그"느낌!</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <font face="Dotum">
                <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;수위높은 회원님들은
                    블랙이 예상되오니 자제 부탁 드립니다.</span>
            </font>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <font color="#3f3f3f">
            <span style="font-family: dotum; font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">
                                <font size="2">
                                    <strong>♥ 혜정&nbsp;</strong>
                                </font>
                            </span>
                            <strong style="font-size: 10pt;">
                                <span style="background-color: rgb(0, 255, 0);">♥</span>
                            </strong>
                            <font size="2">
                                <strong>&nbsp;&nbsp;</strong>
                            </font>
                        </span>
                    </span>
                </span>
            </span>
            <strong>
                <font face="Dotum">
                    <span style="font-size: 10pt;">컨셉: HD, 25</span>
                    <span style="font-size: 10pt;">세161-51-B&nbsp;&nbsp;옆집 여동생같은 친근한 외모 입니다. </span>
                </font>
            </strong>
        </font>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <font color="#3f3f3f">
            <strong>
                <font face="Dotum">
                    <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;마사지는
                        잘 못하신다고 하네요.</span>
                </font>
            </strong>
        </font>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <span style="font-family: dotum; font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">
                                <font size="2">♥ 클로이&nbsp;</font>
                            </span>
                            <strong style="font-size: 10pt;">
                                <span style="background-color: rgb(0, 255, 0);">♥</span>
                            </strong>
                            <font size="2">&nbsp;&nbsp;</font>
                        </span>
                    </span>
                </span>
            </span>
            <span style="font-size: 10pt;">컨셉: HD, 3</span>
            <span style="font-size: 10pt;">2세163-55-D &nbsp;미국유학파, 슈얼+스웨디시 마사지를 하시네요</span>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; font-size: 13px; white-space: pre-line;">
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <span style="font-size: 10pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(현재 네일샵
                근무중)</span>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; font-size: 13px; white-space: pre-line;">
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <span style="font-family: dotum; font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">
                                <font size="2">♥ 초롱&nbsp;</font>
                            </span>
                            <strong style="font-size: 10pt;">
                                <span style="background-color: rgb(0, 255, 0);">♥</span>
                            </strong>
                            <font size="2">&nbsp;&nbsp;</font>
                        </span>
                    </span>
                </span>
            </span>
            <span style="font-size: 10pt;">컨셉: HD,&nbsp;</span>
            <span style="font-size: 10pt;">22세163-50-C &nbsp;앳되고 예쁜얼굴에 얼굴에 착한 성격과 볼륨있는 몸매의 업계 NF</span>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; font-size: 13px; white-space: pre-line;">
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <span style="font-family: dotum; font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">
                                <font size="2">♥ 민주&nbsp;</font>
                            </span>
                            <strong style="font-size: 10pt;">
                                <span style="background-color: rgb(0, 255, 0);">♥</span>
                            </strong>
                            <font size="2">&nbsp;&nbsp;</font>
                        </span>
                    </span>
                </span>
            </span>
            <span style="font-size: 10pt;">컨셉: HD,&nbsp;</span>
            <span style="font-size: 10pt;">26세168-55-B &nbsp;늘씬하고 평범한 민간인필</span>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; font-size: 13px; white-space: pre-line;">
        <strong style="color: rgb(63, 63, 63); font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <span style="font-family: dotum; font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">
                                <font size="2">♥ 유라&nbsp;</font>
                            </span>
                            <strong style="font-size: 10pt;">
                                <span style="background-color: rgb(0, 255, 0);">♥</span>
                            </strong>
                            <font size="2">&nbsp;&nbsp;</font>
                        </span>
                    </span>
                </span>
            </span>
            <span style="font-size: 10pt;">컨셉: HD,&nbsp;</span>
            <span style="font-size: 10pt;">23세160-47-B &nbsp;어리고, 아담한 싸이즈에서 볼수없는 강렬한 테크닉</span>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <span style="font-family: dotum; font-size: 10pt; background-color: rgb(0, 255, 0);">
                <font size="2">♥ 체리&nbsp;</font>
            </span>
            <strong style="font-family: dotum; font-size: 10pt;">
                <span style="background-color: rgb(0, 255, 0);">♥</span>
            </strong>
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">&nbsp; 컨셉: HD, 22세 163-50-D 통통 글래머, 애기목소리를 가진 착한 소녀, </font>
            </strong>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 시원한 맛사지 및 패티시 가능</font>
            </strong>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <span style="font-family: dotum; font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">
                                <font size="2">♥ 유주&nbsp;</font>
                            </span>
                            <strong style="font-size: 10pt;">
                                <span style="background-color: rgb(0, 255, 0);">♥</span>
                            </strong>
                            <font size="2">&nbsp; 컨셉: HD, 24세 160-44-B 요가로 다져진 몸매와 탱탱한 힙라인, 비주얼도 괜찮고 상냥해요</font>
                        </span>
                    </span>
                </span>
            </span>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <span style="font-family: dotum; font-size: 13.33px; background-color: rgb(0, 255, 0);">
                <font size="2">♥ 제희&nbsp;</font>
            </span>
            <strong style="font-family: dotum; font-size: 10pt;">
                <span style="background-color: rgb(0, 255, 0);">♥</span>
            </strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2">&nbsp; 컨셉: HD, 24</font>
            </strong>
        </strong>
        <strong style="line-height: 23px;">
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">세</font>
            </strong>
        </strong>
        <strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2">&nbsp;161-46-C 이웃집 대학생같은 청순한 외모에 남다른 골프실력을 가진 주간조의 에이스</font>
            </strong>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <span style="font-family: dotum; font-size: 13.33px; background-color: rgb(0, 255, 0);">
                <font size="2">♥ 청아&nbsp;</font>
            </span>
            <strong style="font-family: dotum; font-size: 10pt;">
                <span style="background-color: rgb(0, 255, 0);">♥</span>
            </strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2">&nbsp; 컨셉: HD, 26</font>
            </strong>
        </strong>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">세</font>
            </strong>
        </strong>
        <strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2"> 164-47-C 세련된 비주얼과 날씬 탱탱한 몸매, 상냥한 마인드로 오빠들을 녹여줍니다.</font>
            </strong>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <span style="font-family: dotum; font-size: 13.33px; background-color: rgb(0, 255, 0);">
                <font size="2">♥ 도희&nbsp;</font>
            </span>
            <strong style="font-family: dotum; font-size: 10pt;">
                <span style="background-color: rgb(0, 255, 0);">♥</span>
            </strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2">&nbsp; 컨셉: HD, 25</font>
            </strong>
        </strong>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">세</font>
            </strong>
        </strong>
        <strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2"> 160-45-B 완전 민간인필의 여성스러운 비주얼과 애교 넘치는 마인드</font>
            </strong>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <span style="font-family: dotum; font-size: 13.33px; background-color: rgb(0, 255, 0);">
                <font size="2">♥ 리나&nbsp;</font>
            </span>
            <strong style="font-family: dotum; font-size: 10pt;">
                <span style="background-color: rgb(0, 255, 0);">♥</span>
            </strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2">&nbsp; 컨셉: HD, 26</font>
            </strong>
        </strong>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">세</font>
            </strong>
        </strong>
        <strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2"> 167-51-D 비주얼좋고 러블리한 분위기, 상냥한 마인드를 가졌고, </font>
            </strong>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <strong style="font-family: dotum; font-size: 13.33px;">
                <font size="2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;완성도 높은 마사지 스킬을 가졌네요</font>
            </strong>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <span style="font-family: dotum; font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <span style="background-color: rgb(0, 255, 0);">
                                <font size="2">♥ 한별&nbsp;</font>
                            </span>
                            <strong style="font-size: 10pt;">
                                <span style="background-color: rgb(0, 255, 0);">♥</span>
                            </strong>
                            <font size="2">&nbsp; 컨셉: HD, 25</font>
                        </span>
                    </span>
                </span>
            </span>
        </strong>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">세</font>
            </strong>
        </strong>
        <strong>
            <span style="font-family: dotum; font-size: 10pt;">
                <span style="font-size: 10pt;">
                    <span style="font-size: 10pt;">
                        <span style="font-size: 10pt;">
                            <font size="2"> 168-55-D 한번빠지면 헤어나올수 없는 스킬, 애교 있는 밤의 여왕</font>
                        </span>
                    </span>
                </span>
            </span>
        </strong>
    </p>
    <p align="center" style="margin: 0px; padding: 0px; text-align: center; color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px; white-space: pre-line;">
        <strong>
            <span style="font-family: dotum; font-size: 10pt; background-color: rgb(0, 255, 0);">
                <font size="2">♥ 태희&nbsp;</font>
            </span>
            <strong style="font-family: dotum; font-size: 10pt;">
                <span style="background-color: rgb(0, 255, 0);">♥</span>
            </strong>
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">&nbsp; 컨셉: JHD, 27</font>
            </strong>
        </strong>
        <strong style="color: rgb(63, 63, 63); line-height: 23px; font-family: Dotum, Helvetica, Arial, sans-serif; font-size: 12px;">
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2">세</font>
            </strong>
        </strong>
        <strong>
            <strong style="font-family: dotum; font-size: 10pt;">
                <font size="2"> 170-52-B 몸짱, 얼짱에 마인드까지 겸비한 매력녀</font>
            </strong>
        </strong>
    </p>
    <p align="center" style="text-align: center;">&nbsp;</p>
</div>
</body>
</html>